VITE_FIREBASE_API_KEY="AIzaSyDKcC8S9JkN2hcVOvNjKd3zMCARmcMinuc"
VITE_FIREBASE_AUTH_DOMAIN="tokka-foods.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="tokka-foods"
VITE_FIREBASE_STORAGE_BUCKET="tokka-foods.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="810576160609"
VITE_FIREBASE_APP_ID="1:810576160609:web:c759f9ac88496c187f4720"
VITE_FIREBASE_MEASUREMENT_ID="G-SCQEHM0EB1"
VITE_FIREBASE_ENABLED="true"
