VITE_FIREBASE_API_KEY="AIzaSyBIYG6d79B_puvRCBUB_38vus6ZbyGCi_k"
VITE_FIREBASE_AUTH_DOMAIN="tokka-eb4ae.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="tokka-eb4ae"
VITE_FIREBASE_STORAGE_BUCKET="tokka-eb4ae.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="760545643115"
VITE_FIREBASE_APP_ID="1:760545643115:web:ee2225650bed8bf2d0bf2e"
VITE_FIREBASE_MEASUREMENT_ID="G-2QG8D1HY1S"
VITE_FIREBASE_ENABLED="true"
